<div style="padding: 13px;">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>

  <div>
    <button (click)="firstPage()" mat-button>First</button>
    <button (click)="previousPage()" mat-button>Previous</button>
    <button (click)="nextPage()" mat-button>Next</button>
    <button (click)="lastPage()" mat-button>Last</button>
  </div>
  <hr />
  <mat-card *ngFor="let product of products" style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title>#{{ product.id }} - {{ product.name }}</mat-card-title>
      <mat-card-subtitle
        >${{ product.price }} / {{ product.quantity }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p style="width: 400px;">
        {{ product.description }}
      </p>
      <img style="height:300px; width: 300px;" src="{{ product.imageUrl }}" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Buy product</button>
    </mat-card-actions>
  </mat-card>
</div>
